<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso Negado</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;    
            margin-left: auto;
            margin-right: -25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80vh;
        }


        @if (Context.Request.Path.Equals("/Usuarios/AcessoNegado", StringComparison.OrdinalIgnoreCase))
        {
            <text>
                .navbar {
                    display: none; 
                }
            </text>
        }

        .accesso-negado {            
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 600px;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            border: 3px solid #ddd;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            background: linear-gradient(to right, #fff, #e6e6e6);
            
        }

        h1 {
            color: #e44d26;
        }
        p {
            color: #333;
            margin-bottom: 20px;
        }
        a {
            color: #e44d26;
            text-decoration: none;
            font-weight: bold;
        }        
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3">        
    </nav>

    <div class="accesso-negado">
        <h1>Acesso Negado</h1>
        <p><strong>Você não tem permissão para acessar esta página ou funcionalidade.</strong></p>
        <p><strong>Entre em contato com o administrador do sistema para obter assistência.</strong></p>
        <p><a href="/">Voltar à página inicial</a></p>
    </div>    
</body>
</html>