<!DOCTYPE html>
<html>
<head>
    <title>Acesso Negado</title>
</head>
<body>
    <h1>Acesso Negado</h1>
    <p>Você não tem permissão para acessar esta página ou funcionalidade.</p>
    <p>Entre em contato com o administrador do sistema para obter assistência.</p>
</body>
</html>