@model Biblioteca.Models.UsuarioViewModel

<h1>Cadastro Realizado com Sucesso!</h1>

<p>Nome: @Model.Nome</p>
<p>Login: @Model.Login</p>
<p>Tipo: @Model.Tipo</p>

<a asp-action="Index">Voltar para a Lista de Usuários</a>