@model Biblioteca.Models.UsuarioViewModel

<h2>Editar Usuário</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />
    
    <label for="Nome">Nome:</label>
    <input type="text" asp-for="Nome" required />

    <label for="Login">Login:</label>
    <input type="text" asp-for="Login" required />

    <label for="Senha">Senha:</label>
    <input type="password" asp-for="Senha" required />

    <div class="form-group">
        <label asp-for="Tipo" class="control-label"></label>
        @Html.DropDownListFor(model => model.Tipo, Model.TiposDisponiveis, "Selecione...", new { @class = "form-control" })
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>

    <button type="submit">Salvar</button>
</form>

<a asp-action="ListaDeUsuarios">Cancelar</a>