@model Biblioteca.Models.UsuarioViewModel

<h1>Você Precisa de Privilégios de Administrador</h1>

<p>Desculpe, você precisa ser um administrador para acessar esta página.</p>

<a asp-action="Index" asp-controller="Home">Voltar para a Página Inicial</a>