@model Biblioteca.Models.UsuarioViewModel

<h1>Registrar Novo Usuário</h1>

<form asp-action="RegistrarUsuarios" method="post">
    <label for="Nome">Nome:</label>
    <input type="text" asp-for="Nome" required />

    <label for="Login">Login:</label>
    <input type="text" asp-for="Login" required />

    <label for="Senha">Senha:</label>
    <input type="password" asp-for="Senha" required />

    <label for="ConfirmarSenha">Confirmar Senha:</label>
    <input type="password" asp-for="ConfirmarSenha" required />

    <select asp-for="Tipo">
        <option value="@UsuarioTipo.ADMIN">Administrador</option>
        <option value="@UsuarioTipo.PADRAO">Padrão</option>
    </select>

    <button type="submit">Registrar</button>
</form>

<a asp-action="ListaDeUsuarios">Cancelar</a>