@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Arial', sans-serif; color: #007bff; font-size: 35px;">Bem vindo ao sistema Biblioteca</h1>
    <p>Use o menu superior para navegar.</p>
</div>